name: Build Android APK
on: [push] 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # تحديث للإصدار الرابع
      - name: Setup Node
        uses: actions/setup-node@v4 # تحديث للإصدار الرابع
        with:
          node-version: '20'
      - name: Install Dependencies
        run: |
          npm install
          npx cap add android
          npx cap sync android
      - name: Build APK
        run: |
          cd android && ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4 # تحديث للإصدار الرابع لحل المشكلة
        with:
          name: Nippur-Connect-V1
          path: android/app/build/outputs/apk/debug/app-debug.apk
